.flyer-with-text {
    display: flex;
    align-items: center;
    background-color: lightcoral;
}

.flyer-with-text img {
    width: 350px;
    height: auto;
    margin-right: 10px;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px
}
.flyer-with-text p{
  font-size: 35px;
  margin-left: 50px;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}

.flyer-with-text a{
  color: cornflowerblue;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header .logo {
  font-size: 25px;
  font-family: 'Expletus Sans', sans-serif;
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: white;
  padding: 35px 20px;
  background-color: black;
}

/* CSS for main element */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: 'Expletus Sans', sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 28px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px;
  font-family: 'Dancing Script', cursive;
}


.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
  background-color: cornflowerblue;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  background-color: cornflowerblue;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: white;
  margin: 10px 0;
  font-family: 'Indie Flower', cursive;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
  background-color: darkgrey;
}

.about-us img {
  width: 350px;
  height: 450px;
  border-radius: 15px;
}

.about-us-text h2 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.about-us-text p {
  font-size: 15px;
  color: white;
  margin: 10px 0;
}
